/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.calculator-section {
    font-family: "Arial", mont;
    color: #264B77;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.calculator-section .r_block {
    border: 3px solid #B67929;
    border-radius: 10px;
    width: 100%;
    /* margin: 0 auto; */
    padding: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.calculator-section .r_block .oc_line {
    font-size: 18px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 10px 0;
    margin-right: 0;
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calculator-section .r_block .oc_line span {
    vertical-align: middle;
    display: table-cell;
    padding-right: 50px;
    margin-bottom: 5.5px;
}

.calculator-section .r_block .oc_line span.inp {
    padding-right: 20px;
    padding-left: 20px;
}

.calculator-section *, .calculator-section *:before, .calculator-section *:after {
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    outline: none;
}

.calculator-section .r_block .oc_pr_block {
    font-size: 18px;
    text-transform: uppercase;
    border-top: 2px solid #B67929;
    border-bottom: 2px solid #B67929;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.calculator-section .r_block .oc_pr_block .bl_left {
    text-align: center;
}

.calculator-section .r_block .oc_pr_block .bl_left span {
    color: #264B77;
    font-size: 55px;
}

.calculator-section .b_btn {
    font-size: 20px;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.b_btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #B67929;
    /* height: 66px; */
    width: 250px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    text-align: center;
    /* padding-top: 13px; */
    cursor: pointer;
    /* margin-top: 30px; */
    padding-top: 18px;
    padding-bottom: 17px;
    border-radius: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.calculator-section .type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
}

.calculator-section .type-container .choose-type-window {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calculator-section .window-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.calculator-section .window-menu .type-window {
    margin: 0 10px;
    cursor: pointer;
}

.calculator-section .window-menu .type-window:first-child {
    margin-left: 0;
}

.calculator-section .window-menu .type-window:last-child {
    margin-right: 0;
}

.calculator-section .window-menu .type-window img {
    width: 45px;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calculator-section .window-menu .type-window.active img {
    -webkit-filter: invert(28%) sepia(9%) saturate(3791%) hue-rotate(173deg) brightness(90%) contrast(91%);
    filter: invert(28%) sepia(9%) saturate(3791%) hue-rotate(173deg) brightness(90%) contrast(91%);
}

.calculator-section h1 {
    text-align: center;
    color: #264B77;
    font-size: 40px;
    margin: 40px auto;
    text-transform: uppercase;
    font-weight: bold;
}

.calculator-section [type="radio"]:checked,
.calculator-section [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.calculator-section [type="radio"]:checked + label,
.calculator-section [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #264B77;
}

.calculator-section [type="radio"]:checked + label:before,
.calculator-section [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.calculator-section [type="radio"]:checked + label:after,
.calculator-section [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #B67929;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.calculator-section [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.calculator-section [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.calculator-section [type="radio"] + label {
    font-size: 18px;
}

.calculator-section .choose-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 40px;
}

.calculator-section .radio {
    margin: 0 10px;
}

.calculator-section .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.calculator-section .maket {
    height: 377px;
    width: 390px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calculator-section .maket img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calculator-section input[type="checkbox"] {
    display: none;
}

.ios-toggle, .ios-toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    height: 36px;
    /*border-radius*/
    border-radius: 18px;
    background: #b5b5b5;
    cursor: pointer;
    padding-left: 50px;
}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 36px;
    width: 36px;
    /*border-radius*/
    border-radius: 100%;
    top: -1.5px;
    left: 0px;
    right: auto;
    background: white;
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -300px;
    padding: 10px;
    height: 100%;
    width: 300px;
    text-align: right;
    color: #264B77;
    white-space: nowrap;
}

.ios-toggle:checked + .checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 20px #264B77, 0 0 0 2px #264B77;
    box-shadow: inset 0 0 0 20px #264B77, 0 0 0 2px #264B77;
}

.ios-toggle:checked + .checkbox-label:before {
    left: calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked + .checkbox-label:after {
    content: attr(data-on);
    left: 60px;
    width: 36px;
}

.calculator-section .checkbox {
    margin-bottom: 5px;
}

.calculator-section .base-container {
    padding: 0 160px;
}

.calculator-section .maket {
    padding-right: 30px;
}

@media (min-width: 320px) {
    /*.container {*/
    /*    width: 100%;*/
    /*}*/
}

@media (min-width: 576px) {
    /*.container {*/
    /*    width: 540px;*/
    /*}*/
}

@media (min-width: 768px) {
    /*.container {*/
    /*    width: 750px;*/
    /*}*/
}

@media (min-width: 992px) {
    /*.container {*/
    /*    width: 970px;*/
    /*}*/
}

@media (min-width: 1200px) {
    /*.container {*/
    /*    width: 1170px;*/
    /*}*/
}

@media (max-width: 1200px) {
    .calculator-section .r_block {
        padding: 15px;
        border: 2px solid #B67929;
    }

    .calculator-section .r_block .oc_line {
        padding-right: 20px;
        font-size: 16px;
    }

    .calculator-section .r_block .oc_line span {
        margin-right: 50px;
        padding-right: 0;
    }

    .calculator-section .b_btn {
        width: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .calculator-section .r_block .oc_pr_block {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .calculator-section .r_block .oc_pr_block .bl_left span {
        font-size: 48px;
    }

    .calculator-section .r_block .oc_line span {
        margin-bottom: 3px;
    }

    .calculator-section .maket {
        width: 320px;
    }
}


@media (max-width: 992px) {
    .calculator-section .form-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .calculator-section .type-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .calculator-section .type-container .choose-type-window {
        margin-bottom: 15px;
    }

    .calculator-section .choose-view {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .calculator-section h1 {
        margin: 20px auto;
        font-size: 32px;
    }

    .calculator-section [type="radio"] + label {
        font-size: 16px;
    }

    .calculator-section .maket {
        padding-right: 0;
    }

    .calculator-section .b_btn {
        font-size: 18px;
    }

    .calculator-section .form-container .col-md-6 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .calculator-section .base-container {
        padding: 0 80px;
    }
}

@media (max-width: 576px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .calculator-section .base-container {
        padding: 0 10px;
    }
}

@media (max-width: 420px) {
    .calculator-section .checkbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .checkbox-label:before {
        top: 0;
    }

    .calculator-section .r_block .oc_line span {
        margin-right: 40px;
    }

    .calculator-section .window-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .calculator-section .window-menu .type-window img {
        width: 60px;
        height: 55px;
    }

    .calculator-section .window-menu .type-window {
        margin-top: 15px;
    }

    .calculator-section .type-container .choose-type-window {
        margin-bottom: 0;
    }
}

@media (max-width: 360px) {
    .calculator-section .base-container {
        padding: 0;
    }
    .calculator-section .r_block {
        border: none;
        padding: 0;
    }
}